@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* HEADER */
h1{
    color: red;
    font-weight: bolder;
    text-align: center;
    height: 14px;
    margin: 20px 0 30px 0;
    font-family: 'Roboto Slab', serif;
    letter-spacing:4px;x`x``
}
p.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
hr{
    margin: 10px;
}
 /* NAVBAR */
nav{
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    height: 90px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: end;
    justify-items: center;
    
}
button{
    color: white;
    background-color: gray;
    border: none;
    cursor: grab;
}
button a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    letter-spacing: 1px;
    
}
button a:hover{
    background-color: red;
    border-radius: 5px;
    border: 1px solid white;
}
.icono{
    width: 40px;
    height: 40px;
    grid-column: 9 / 10;
    margin-top: 5px;

}
.boton1{
    grid-column: 7 / 8;
    grid-row: 3;
    justify-self: end;
    margin-left: 15px;

}
.boton2{
    grid-column: 8 / 9;
    grid-row: 3;
    justify-self: end;
    margin-left: 20px;
  
}
.boton3{
    grid-column: 9 / 10;
    grid-row: 3;
    justify-self: end;
    margin-left: 10px;
 
}
.boton4{
    grid-column: 10 / 11;
    grid-row: 3;
    justify-self: end;
    margin-left: 30px;
}
/* FIRST IMAGE*/
main{
    background-image: url('../img/perro.webp');
    height: 550px;
    margin-top: 20px;
    border: 2px solid black;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:local;
    margin-bottom: 30px;
    border-radius: 0 0 0 10%;
}
a.order{
    font-size: 18px;
    font-weight: bold;
    margin-left: 45%;
    background-color: yellow;
    border-radius: 30px;
    border: 2px solid white;
    cursor:grab;
    width: 50px;
}
.order:hover{
    border: solid blue 2px;
    color: red;
}
div.imagenes{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
img[class|="seleccion"]{
    height: 300px;
    width: 300px;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px 15px black;

}
img[class|="seleccion"]:hover{
    box-shadow: 0px 0px 30px 10px black;
    
}
.seleccion-1{
    grid-column: 3 / 4;
    grid-row: 1;
}
.seleccion-2{
    grid-column: 5 / 6;
    grid-row: 1;
}
a[class|="textoimagen"]{
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;  
    justify-self: center;
    color: black;
    width: 60px;
    background-color: rgb(113, 187, 233);
    border-radius: 10px;
    border: 2px solid white;
    cursor:grab;
}
a[class|="textoimagen"]:hover{
  border: solid blue 2px;
  color: red;
}
.textoimagen-1{
    grid-column: 3 / 4;
    grid-row: 1;
    align-self: end;
    margin-bottom: 20px;
}
.textoimagen-2{
    grid-column: 5 / 6;
    grid-row: 1;
    align-self: end;
    margin-bottom: 20px;
}
/* CONTAINER ABOUT */

h2{
    color: red;
    font-weight: bold;
    text-align: center;
    height: 14px;
    margin: 20px 0 20px 0;
    font-family: 'Roboto Slab', serif;
    letter-spacing:4px;
    font-size: 30px;
    margin-bottom: 60px;
    font-weight: bolder;
}
div.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 30px;
}
div.container p{
    justify-self: center;
    margin-right: 250px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 5px 0 10px;
    text-align: justify;
    max-height: 100%;
}
.imagenabout{
    height: 400px;
    width: 300px;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px 15px black; 
    opacity: 0.7;
    justify-self: center ;
}

